body {
  padding: 20px;
  font-family: sans-serif;
  background: gray;
}

.text {
  font-size: 20px;
}

.only-desktop {
  opacity: 0.1;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  body {
    background-color: lightblue;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    background-color: orange;
  }
  .text {
    font-size: 30px;
  }

  .only-desktop {
    opacity: 1;
  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    background-color: lightgreen;
  }

  .text {
    font-size: 55px;
    text-align: center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    background-color: violet;
  }
  .text {
    font-size: 85px;
    font-weight: bold;
    text-align: left;
  } 
}
